# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Android
android/local.properties
android/assets/
android/bin/
android/obj/
android/gen/
android/jni/SDL2
android/jni/SDL2_image


# Doxygen
html/

# OS and build artifacts
*~
build/
